page-detalleanuncio {
ion-select{
        max-width: 100%;
        font-family: 'Comfortaa';
}

    label,.label,.col{

            font-family: 'Comfortaa';
                font-size: 13px;

    }

    .col{
    	padding: 18px;
    }

}
