page-home {

.alert-md .alert-title {
    font-size: 14px;
    
}


	.list-md .item-block .item-inner {
    border-bottom: 0px solid #feab2c;



}



button{
	font-family: 'Nunito';



}


.menu {

.content-md{
	background: #234;
}


}




}
